<html>
  <head>
    <style>
      body {
        background: #000;
      }

      img.dylan {
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }

      img.sexycast {
        margin: 10px 0 0 10px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
    </style>

    <title>How Many Dylans?</title>
  </head>
  <body>
    <img class="dylan" src="/images/3.dylans.png">
    <img class="sexycast" src="https://s3.amazonaws.com/uploads.hipchat.com/27351/724935/csvT9r25JS0PmB1/powered_by_sexycast.png">
  </body>
</html>
