<html>
  <head>
    <style>
      body {
        background: #000;
      }

      img {
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
    </style>

    <title>How Many Dylans?</title>
  </head>
  <body>
    <img src="/images/3.dylans.png">
  </body>
</html>
