<html>
  <head>
    <style>
      body {
        background: #007D80;
      }

      img {
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
    </style>

    <title><%= @thing.name %> (<%= @thing.dylans %>)</title>
  </head>
  <body>
    <img src="/things/<%= @thing.name %>.png">
  </body>
</html>
